In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the dataset
ibm=pd.read_csv('C:\\Users\\manis\\Downloads\\WA_Fn-UseC_-HR-Employee-Attrition.csv')
ibm.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
#Droping unnecessery variables
p=ibm.drop(['DailyRate','EmployeeCount','HourlyRate','MonthlyRate','StandardHours','StockOptionLevel','TrainingTimesLastYear','JobLevel','Over18'],axis=1)
p.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,1,2,Female,...,Yes,11,3,1,8,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,2,3,Male,...,No,23,4,4,10,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,4,Male,...,Yes,15,3,2,7,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,5,4,Female,...,Yes,11,3,3,8,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,7,1,Male,...,No,12,3,4,6,3,2,2,2,2

In [4]:
#Applying Label encoder
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder()

In [5]:
for col in p.columns:
    if p[col].dtypes == 'object':
        p[col] = le.fit_transform(p[col])

In [6]:
p.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,2,1,2,1,1,2,0,...,1,11,3,1,8,1,6,4,0,5
1,49,0,1,1,8,1,1,2,3,1,...,0,23,4,4,10,3,10,7,1,7
2,37,1,2,1,2,2,4,4,4,1,...,1,15,3,2,7,3,0,0,0,0
3,33,0,1,1,3,4,1,5,4,0,...,1,11,3,3,8,3,8,7,3,0
4,27,0,2,1,2,1,3,7,1,1,...,0,12,3,4,6,3,2,2,2,2

In [7]:
#Storing the values in x and y
x=p.drop(['Attrition'], axis=1)
y=p['Attrition']

In [8]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)
xtrain.shape

(1029, 25)

In [9]:
xtest

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
442,36,0,2,10,4,3,592,2,1,3,...,0,14,3,4,10,2,10,3,9,7
1091,33,2,1,25,3,1,1545,4,1,2,...,0,13,3,4,5,3,5,3,0,2
981,35,1,2,18,4,2,1380,4,0,3,...,1,18,3,3,5,2,4,2,3,2
785,40,2,1,20,4,5,1092,1,1,3,...,0,20,4,4,14,3,11,10,11,1
1332,29,1,1,24,2,1,1868,4,1,2,...,1,24,4,2,1,2,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,36,0,1,18,4,1,1133,1,1,3,...,0,20,4,1,18,3,11,9,0,9
399,31,2,1,1,2,1,530,4,1,2,...,0,12,3,3,4,3,4,2,3,2
458,40,0,2,28,3,4,615,3,1,1,...,0,15,3,3,20,3,1,0,0,1
406,52,2,1,3,3,3,543,4,1,2,...,1,14,3,3,28,3,5,4,0,4
590,33,2,1,7,3,3,817,3,1,3,...,0,11,3,4,14,4,13,9,3,7

In [10]:
ytrain= np.asarray(ytrain)

In [11]:
import keras
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense

Using TensorFlow backend.

In [12]:
#Initializing the ANN
classifier = Sequential()

In [13]:
#Adding the input layer and the first hidden layer
classifier.add(Dense(units=13, kernel_initializer = 'uniform', activation = 'relu', input_dim = 25))

In [14]:
#Adding the second hidden layer
classifier.add(Dense(units=13, kernel_initializer = 'uniform', activation = 'relu'))

In [15]:
#Adding the output layer
classifier.add(Dense(units=1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [16]:
#Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [17]:
#Fitting the ANN to the Training set
classifier.fit(xtrain, ytrain, batch_size = 30, nb_epoch = 200)

WARNING:tensorflow:The `nb_epoch` argument in `fit` has been renamed `epochs`.
WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 1029 samples
Epoch 1/200
1029/1029 [==============================] - 0s 107us/sample - loss: 0.4997 - accuracy: 0.7668
Epoch 2/200
1029/1029 [==============================] - 0s 41us/sample - loss: 0.4358 - accuracy: 0.8377
Epoch 3/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4326 - accuracy: 0.8377
Epoch 4/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4319 - accuracy: 0.8377
Epoch 5/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4330 - accuracy: 0.8377
Epoch 6/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.4347 - accuracy: 0.8377
Epoch 7/200
1029/1029 [==============================] - 0s 48us/sample - loss: 0.4323 - accuracy: 0.8377
Epoch 8/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4313 - accuracy: 0.8377
Epoch 9/200
1029/1029 [==============================] - 0s 49us/sample - loss: 0.4333 - accuracy: 0.8377
Epoch 10/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4306 - accuracy: 0.8377
Epoch 11/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4293 - accuracy: 0.8377
Epoch 12/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4352 - accuracy: 0.8377
Epoch 13/200
1029/1029 [==============================] - 0s 48us/sample - loss: 0.4258 - accuracy: 0.8377
Epoch 14/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4303 - accuracy: 0.8377
Epoch 15/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4284 - accuracy: 0.8377
Epoch 16/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4330 - accuracy: 0.8387
Epoch 17/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4251 - accuracy: 0.8397
Epoch 18/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4269 - accuracy: 0.8387
Epoch 19/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4272 - accuracy: 0.8387
Epoch 20/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4235 - accuracy: 0.8387
Epoch 21/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4256 - accuracy: 0.8387
Epoch 22/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4221 - accuracy: 0.8387
Epoch 23/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4264 - accuracy: 0.8377
Epoch 24/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4263 - accuracy: 0.8387
Epoch 25/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4268 - accuracy: 0.8387
Epoch 26/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4249 - accuracy: 0.8387
Epoch 27/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4231 - accuracy: 0.8367
Epoch 28/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4185 - accuracy: 0.8406
Epoch 29/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4239 - accuracy: 0.8406
Epoch 30/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4174 - accuracy: 0.8406
Epoch 31/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4197 - accuracy: 0.8377
Epoch 32/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4178 - accuracy: 0.8397
Epoch 33/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4188 - accuracy: 0.8397
Epoch 34/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4185 - accuracy: 0.8387
Epoch 35/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4196 - accuracy: 0.8406
Epoch 36/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.4175 - accuracy: 0.8416
Epoch 37/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4154 - accuracy: 0.8367
Epoch 38/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.4203 - accuracy: 0.8397
Epoch 39/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4368 - accuracy: 0.8397
Epoch 40/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4235 - accuracy: 0.8377
Epoch 41/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4176 - accuracy: 0.8406
Epoch 42/200
1029/1029 [==============================] - 0s 48us/sample - loss: 0.4140 - accuracy: 0.8397
Epoch 43/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4140 - accuracy: 0.8406
Epoch 44/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4169 - accuracy: 0.8397
Epoch 45/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4142 - accuracy: 0.8406
Epoch 46/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4170 - accuracy: 0.8377
Epoch 47/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4128 - accuracy: 0.8397
Epoch 48/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4133 - accuracy: 0.8416
Epoch 49/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4160 - accuracy: 0.8406
Epoch 50/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4129 - accuracy: 0.8406
Epoch 51/200
1029/1029 [==============================] - 0s 49us/sample - loss: 0.4112 - accuracy: 0.8416
Epoch 52/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4193 - accuracy: 0.8358
Epoch 53/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.4110 - accuracy: 0.8406
Epoch 54/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4115 - accuracy: 0.8406
Epoch 55/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4117 - accuracy: 0.8406
Epoch 56/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4104 - accuracy: 0.8387
Epoch 57/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4120 - accuracy: 0.8377
Epoch 58/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4151 - accuracy: 0.8416
Epoch 59/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4114 - accuracy: 0.8406
Epoch 60/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4104 - accuracy: 0.8406
Epoch 61/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4096 - accuracy: 0.8426
Epoch 62/200
1029/1029 [==============================] - 0s 49us/sample - loss: 0.4166 - accuracy: 0.8397
Epoch 63/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4097 - accuracy: 0.8406
Epoch 64/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4069 - accuracy: 0.8387
Epoch 65/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4043 - accuracy: 0.8426
Epoch 66/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4049 - accuracy: 0.8416
Epoch 67/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4021 - accuracy: 0.8397
Epoch 68/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4082 - accuracy: 0.8406
Epoch 69/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4050 - accuracy: 0.8397
Epoch 70/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4066 - accuracy: 0.8426
Epoch 71/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4042 - accuracy: 0.8416
Epoch 72/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4038 - accuracy: 0.8406
Epoch 73/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4044 - accuracy: 0.8426
Epoch 74/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4203 - accuracy: 0.8338
Epoch 75/200

1029/1029 [==============================] - 0s 47us/sample - loss: 0.4084 - accuracy: 0.8406
Epoch 76/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4042 - accuracy: 0.8426
Epoch 77/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4049 - accuracy: 0.8426
Epoch 78/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4018 - accuracy: 0.8406
Epoch 79/200
1029/1029 [==============================] - 0s 49us/sample - loss: 0.4057 - accuracy: 0.8435
Epoch 80/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.4057 - accuracy: 0.8426
Epoch 81/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.4048 - accuracy: 0.8406
Epoch 82/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3995 - accuracy: 0.8455
Epoch 83/200
1029/1029 [==============================] - 0s 39us/sample - loss: 0.4024 - accuracy: 0.8445
Epoch 84/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3988 - accuracy: 0.8426
Epoch 85/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3998 - accuracy: 0.8406
Epoch 86/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4006 - accuracy: 0.8406
Epoch 87/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.4007 - accuracy: 0.8416
Epoch 88/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4034 - accuracy: 0.8426
Epoch 89/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4030 - accuracy: 0.8377
Epoch 90/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.4007 - accuracy: 0.8377
Epoch 91/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3963 - accuracy: 0.8435
Epoch 92/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3959 - accuracy: 0.8435
Epoch 93/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.4008 - accuracy: 0.8416
Epoch 94/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4072 - accuracy: 0.8406
Epoch 95/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4000 - accuracy: 0.8406
Epoch 96/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.4022 - accuracy: 0.8435
Epoch 97/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3949 - accuracy: 0.8426
Epoch 98/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3987 - accuracy: 0.8377
Epoch 99/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4013 - accuracy: 0.8426
Epoch 100/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3988 - accuracy: 0.8455
Epoch 101/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.3929 - accuracy: 0.8435
Epoch 102/200
1029/1029 [==============================] - 0s 48us/sample - loss: 0.3989 - accuracy: 0.8435
Epoch 103/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.3983 - accuracy: 0.8445
Epoch 104/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3967 - accuracy: 0.8397
Epoch 105/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3931 - accuracy: 0.8455
Epoch 106/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.4034 - accuracy: 0.8406
Epoch 107/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3928 - accuracy: 0.8455
Epoch 108/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.3936 - accuracy: 0.8426
Epoch 109/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3991 - accuracy: 0.8435
Epoch 110/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3932 - accuracy: 0.8426
Epoch 111/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3969 - accuracy: 0.8426
Epoch 112/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3973 - accuracy: 0.8426
Epoch 113/200
1029/1029 [==============================] - 0s 41us/sample - loss: 0.4013 - accuracy: 0.8474
Epoch 114/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3967 - accuracy: 0.8465
Epoch 115/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3933 - accuracy: 0.8465
Epoch 116/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3920 - accuracy: 0.8455
Epoch 117/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3952 - accuracy: 0.8406
Epoch 118/200
1029/1029 [==============================] - 0s 48us/sample - loss: 0.3914 - accuracy: 0.8406
Epoch 119/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.3895 - accuracy: 0.8435
Epoch 120/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3899 - accuracy: 0.8426
Epoch 121/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.4049 - accuracy: 0.8416
Epoch 122/200
1029/1029 [==============================] - 0s 41us/sample - loss: 0.3898 - accuracy: 0.8445
Epoch 123/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3897 - accuracy: 0.8435
Epoch 124/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3917 - accuracy: 0.8455
Epoch 125/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3941 - accuracy: 0.8397
Epoch 126/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3983 - accuracy: 0.8465
Epoch 127/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3904 - accuracy: 0.8435
Epoch 128/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.3891 - accuracy: 0.8426
Epoch 129/200
1029/1029 [==============================] - 0s 41us/sample - loss: 0.3873 - accuracy: 0.8455
Epoch 130/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3860 - accuracy: 0.8445
Epoch 131/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3937 - accuracy: 0.8435
Epoch 132/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3862 - accuracy: 0.8435
Epoch 133/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3849 - accuracy: 0.8474
Epoch 134/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3873 - accuracy: 0.8474
Epoch 135/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3922 - accuracy: 0.8465
Epoch 136/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.3799 - accuracy: 0.8474
Epoch 137/200
1029/1029 [==============================] - 0s 47us/sample - loss: 0.3838 - accuracy: 0.8465
Epoch 138/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3821 - accuracy: 0.8484
Epoch 139/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3863 - accuracy: 0.8513
Epoch 140/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3892 - accuracy: 0.8503
Epoch 141/200
1029/1029 [==============================] - 0s 48us/sample - loss: 0.3833 - accuracy: 0.8533
Epoch 142/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3831 - accuracy: 0.8465
Epoch 143/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3837 - accuracy: 0.8465
Epoch 144/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3906 - accuracy: 0.8494
Epoch 145/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.3834 - accuracy: 0.8465
Epoch 146/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3878 - accuracy: 0.8503
Epoch 147/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3815 - accuracy: 0.8465
Epoch 148/200
1029/1029 [==============================] - 0s 41us/sample - loss: 0.3800 - accuracy: 0.8474
Epoch 149/200
1029/1029 [==============================] - 0s 46us/sample - loss: 0.3791 - accuracy: 0.8445
Epoch 150/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3878 - accuracy: 0.8445
Epoch 151/200

1029/1029 [==============================] - 0s 46us/sample - loss: 0.3919 - accuracy: 0.8474
Epoch 152/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3771 - accuracy: 0.8465
Epoch 153/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3950 - accuracy: 0.8494
Epoch 154/200
1029/1029 [==============================] - 0s 39us/sample - loss: 0.3843 - accuracy: 0.8474
Epoch 155/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3762 - accuracy: 0.8503
Epoch 156/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3739 - accuracy: 0.8494
Epoch 157/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.3750 - accuracy: 0.8523
Epoch 158/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3751 - accuracy: 0.8513
Epoch 159/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3789 - accuracy: 0.8465
Epoch 160/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3913 - accuracy: 0.8484
Epoch 161/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.3762 - accuracy: 0.8465
Epoch 162/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3743 - accuracy: 0.8503
Epoch 163/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3732 - accuracy: 0.8513
Epoch 164/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.3796 - accuracy: 0.8523
Epoch 165/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3777 - accuracy: 0.8474
Epoch 166/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3779 - accuracy: 0.8484
Epoch 167/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3705 - accuracy: 0.8513
Epoch 168/200
1029/1029 [==============================] - 0s 86us/sample - loss: 0.3678 - accuracy: 0.8474
Epoch 169/200
1029/1029 [==============================] - 0s 41us/sample - loss: 0.4019 - accuracy: 0.8445
Epoch 170/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.3657 - accuracy: 0.8494
Epoch 171/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3709 - accuracy: 0.8474
Epoch 172/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3674 - accuracy: 0.8494
Epoch 173/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3743 - accuracy: 0.8533
Epoch 174/200
1029/1029 [==============================] - 0s 41us/sample - loss: 0.3755 - accuracy: 0.8542
Epoch 175/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3669 - accuracy: 0.8503
Epoch 176/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3701 - accuracy: 0.8474
Epoch 177/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3772 - accuracy: 0.8503
Epoch 178/200
1029/1029 [==============================] - 0s 40us/sample - loss: 0.3707 - accuracy: 0.8494
Epoch 179/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3789 - accuracy: 0.8474
Epoch 180/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3731 - accuracy: 0.8503
Epoch 181/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3851 - accuracy: 0.8503
Epoch 182/200
1029/1029 [==============================] - 0s 41us/sample - loss: 0.3727 - accuracy: 0.8513
Epoch 183/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3724 - accuracy: 0.8484
Epoch 184/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3767 - accuracy: 0.8455
Epoch 185/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3657 - accuracy: 0.8552
Epoch 186/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3608 - accuracy: 0.8523
Epoch 187/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3578 - accuracy: 0.8542
Epoch 188/200
1029/1029 [==============================] - 0s 42us/sample - loss: 0.3858 - accuracy: 0.8465
Epoch 189/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3768 - accuracy: 0.8591
Epoch 190/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3647 - accuracy: 0.8503
Epoch 191/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3624 - accuracy: 0.8552
Epoch 192/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3677 - accuracy: 0.8542
Epoch 193/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3673 - accuracy: 0.8542
Epoch 194/200
1029/1029 [==============================] - 0s 41us/sample - loss: 0.3801 - accuracy: 0.8484
Epoch 195/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3657 - accuracy: 0.8552
Epoch 196/200
1029/1029 [==============================] - 0s 45us/sample - loss: 0.3715 - accuracy: 0.8581
Epoch 197/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3660 - accuracy: 0.8494
Epoch 198/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3607 - accuracy: 0.8513
Epoch 199/200
1029/1029 [==============================] - 0s 43us/sample - loss: 0.3590 - accuracy: 0.8601
Epoch 200/200
1029/1029 [==============================] - 0s 44us/sample - loss: 0.3563 - accuracy: 0.8571

In [18]:
#Making the predictions and evaluating the model
ypred = classifier.predict(xtest)
ypred = (ypred > 0.5)
ypred

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

array([[False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False]])

In [19]:
#Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest, ypred)
cm

array([[364,   7],
       [ 59,  11]], dtype=int64)

In [20]:
from sklearn.metrics import precision_recall_fscore_support,classification_report
print(classification_report(ypred,ytest))

              precision    recall  f1-score   support

       False       0.98      0.86      0.92       423
        True       0.16      0.61      0.25        18

    accuracy                           0.85       441
   macro avg       0.57      0.74      0.58       441
weighted avg       0.95      0.85      0.89       441